#Registration{
    background-color:blanchedalmond;
     
    border: solid;
    
    /* padding-right: 10px; */
    height: 800px;
    width: 1000px;

}

#Registration > img
{       
        position:fixed;
        top: 100px;
        
        left: 200px;
        
 
}

